{
  "useTabs": false,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^w", "^[./]"],
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderSeparation": true
}
